quarkus:
  datasource:
    db-kind: h2
    username: sa
    password: ""
    jdbc:
      url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE

  hibernate-orm:
    log:
      sql: true
    sql-load-script: no-file

  flyway:
    migrate-at-start: true
    baseline-on-migrate: true
    baseline-version: 0

  http:
    port: 8080
    cors:
      enabled: true
      origins: "*"

  log:
    category:
      "ao.co.oportunidade.webhook":
        level: DEBUG
    console:
      format: "%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{3.}] (%t) %s%e%n"

  smallrye-health:
    ui:
      enable: true

  swagger-ui:
    enable: true
    always-include: true

webhook:
  max-retry-count: ${WEBHOOK_MAX_RETRY:3}
  retry-delay-seconds: ${WEBHOOK_RETRY_DELAY:60}
  secret: ${WEBHOOK_SECRET:}

"odoo-api/mp-rest/url": http://localhost:8000

odoo:
  webhook:
    key: ${ODOO_WEBHOOK_KEY}
    url: ${ODOO_WEBHOOK_URL}

mp:
  messaging:
    incoming:
      webhook-events-in:
        connector: smallrye-in-memory
    outgoing:
      webhook-events-out:
        connector: smallrye-in-memory